body {
    padding: 0;
    margin: 0;
    background-color: rgb(212, 225, 230);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

/*HEADER*/

header {
    background-color: #424C58;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

header h1 {
    background-color: rgb(120, 201, 215);
    color: #424C58;
}

header img {
    border: 2px solid #ddd;
    border-radius: 100px;
    height: 120px;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: 18px
}

header nav a:hover {
    color: rgb(0, 162, 255);
}

/*HERO*/
.hero {
    background-color: #fff;
    min-height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
    background-image: url(./imgs/gradienta-gwE9vXSi7Xw-unsplash.jpg);
    background-size: 100% 100%;
}

.hero div h2 {
    font-size: 45px;
    background-color: rgb(120, 201, 215);
    color: #424C58;
}

.hero img {
    width: 200px;
    height: 300px;
    border-radius: 100px;
    margin: 30px;

}

/*MAIN*/
main {
    margin: 0;
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section {
    width: 100%;
    padding: 0;
    margin: 0;
}

.side-bar {
    display: flex;
    gap: 30px;

}

.side-bar > h2 {
    flex: 0 0 20%;
    border-right: 5px solid black;
    text-align: right;
    font-size: 30px;
}
.side-bar p {


}

.side-bar > div{
    flex: 0 0 77%;  
}

.anchor-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "studyguide studyguide"
    "refactor calculator";
    gap: 30px;
}

.responsive-img {
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
.study {
    grid-area: studyguide;
}

.study-guide  {
    background-image: url(./imgs/Pre-Work\ Study.png);
    padding-bottom: 16.62%;
}

.refact {
    grid-area: refactor;
}
.refactor {
    background-image: url(./imgs/refactor.png);
    padding-bottom: 50%;
}

.calc {
    grid-area: calculator;
}
.calculator {
    background-image: url(./imgs/calculator.png);
    padding-bottom: 50%;
}

.contactme div {
    display: flex;
    justify-content: space-evenly;

}

.contactme a {
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
}

/*FOOTER*/
footer {
    padding: 75px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .study-guide, .refactor, .calculator, .side-bar p
    {
        margin: 0;
        
    }

    main {
        padding: 10px;
    }

    .side-bar {
        display: inline-block;
    }

    .side-bar h2 {
        border-right: none;
        border-bottom: 5px solid black;
        text-align: left;
    }
}
