body {
    padding: auto;
    margin: auto;
    background-color: rgb(246, 251, 253);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

/*HEADER*/

header {
    background-color: #424C58;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px
}

header h1 {
    padding-left: 10px;
    background-color: rgb(120, 201, 215);
    color: #424C58;
}

header nav a {
    text-decoration: none;
    padding-right: 10px;
    color: white;
    font-size: 18px
}

header nav a:hover {
    color: rgb(0, 162, 255);
}

/*HERO*/
.hero {
    background-color: #fff;
    min-height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding: 3%
    
}

.hero div h2{
    font-size: 50px;
    background-color: rgb(120, 201, 215);
    color: #424C58;
}

.hero img {
    width:2000px;
    height: 300px;
    display: flex;
    align-items: stretch;
    
}

/*MAIN*/
main aside h2 {
    padding: 10px;
    margin: -5px;
    min-height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    color: #424C58;

}

div p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: justify;
    margin-bottom: 50px;
    margin-top: -50px;
    padding-left: 150px;
    padding-right: 100px;
    

}

/*FOOTER*/
footer h2 {
    padding: 10px;
    margin: 0px;
    min-height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    color: #424C58;
}

footer p {
    display: flex;
    justify-content: center;
    margin-bottom: 0px 300px;
}