body {
    padding: auto;
    margin: auto;
    background-color: rgb(212, 225, 230);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

/*HEADER*/

header {
    background-color: #424C58;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px
}

header h1 {
    padding-left: 10px;
    background-color: rgb(120, 201, 215);
    color: #424C58;
}

header img {
    border: 2px solid #ddd;
    border-radius: 100px;
    padding: 5px;
    height: 120px;
}

header nav a {
    text-decoration: none;
    padding-right: 10px;
    color: white;
    font-size: 18px
}

header nav a:hover {
    color: rgb(0, 162, 255);
}

/*HERO*/
.hero {
    background-color: #fff;
    min-height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
    padding: 1%;
    background-image: url(./imgs/gradienta-gwE9vXSi7Xw-unsplash.jpg);
    background-size: 100% 100%;

}

.hero div h2 {
    font-size: 45px;
    background-color: rgb(120, 201, 215);
    color: #424C58;
}

.hero img {
    width: 200px;
    height: 300px;
    border-radius: 100px;

}

/*MAIN*/
main {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.side-bar {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.side-bar > h2 {
    flex: 0 0 20%;
    padding-right: 10px;
    border-right: 5px solid black;
    text-align: right;
    font-size: 40px;
}

.side-bar p {
    padding: 30px;
    margin: 0px;
}

.side-bar > div{
    flex: 0 0 77%;  
}


.study-guide  {
    display: flex;
    min-height: 20vh;
    margin: 30px;
    justify-content: space-between;
    padding: 0%;
    background-repeat: no-repeat;
    background-image: url(./imgs/Pre-Work\ Study.png);
    
}

.refactor {
    display: flex;
    min-height: 20vh;
    margin: 30px;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    padding: 1%;
    background-repeat: no-repeat;
    background-image: url(./imgs/refactor.png);
    
    
}

.calculator {
    display: flex;
    min-height: 20vh;
    margin: 30px;
    justify-content: center;
    flex-direction:
    padding: 1%;
    background-repeat: no-repeat;
    background-image: url(./imgs/calculator.png)
}

.contactme div {
    display: flex;
    justify-content: space-evenly;

}

.contactme a {
    display: flex;
    align-items: center;
    padding-right: 10px;
    color: black;
    font-size: 20px;
}

/*FOOTER*/
footer {
    padding: 75px;
    display: flex;
    justify-content: center;
}